{% extends 'index.html' %}
   {% block content %}
    {% load static %}

<div class="container">
      <table id="example" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col"style="width:10vw;">Complaint id</th>
            <th scope="col"style="width:15vw;">subject</th>
            <th scope="col" style="width:40vw; text-align: center;">message</th>
            <th scope="col" style="width:40vw; text-align: center;">status</th>
          </tr>
        </thead>
        <tr>
            {% for complaint in complaints %}
            <td>{{ complaint.id }}</td>
            <td>{{ complaint.subject }}</td>
            <td>{{ complaint.message }}</td>
            <td>
                {% if request.method == 'POST' %}
                <ul class="messages">
                    {% for info in message %}
                    {% if "Complaint Registered Successfully." in info %}
                    <li class="text-success">{{ info }}</li>
                    {% else %}
                    <li class="text-danger">{{ info }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        
      </table>
    </div>

                </div>
            </div>
        </div>
    </div>
 {% endblock %}