
{% extends 'navigation_user.html' %}
{% block content %}
{% load static %}
   

<h1 class="text-center">Complaint Pannel </h1>
<hr>

{% comment %} <h4>Hii: <span class="username"> {% endcomment %}
  <div class="container">
    {% for user in users %}
    {% if request.session.email_id == user.email %}
    {{ user.name }}
    {% endif %}
    {% endfor %}
</span></h4>

<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'user:navigation' %}">
    <div class="sidebar-brand-icon rotate-n-15"></div>
</a>
<div class="container-dashboard-admin">
    <div class="row">

      <div class="col-md-6">
        <a href="{% url 'user:complaints' operation='create' %}" class="sidebar-link"> 
          <div class="box" id="employee-box1">
            <i class="fa-brands fa-creative-commons-share"></i>
            <h2>Create Complaint </h2 >
          </div>
        </a>
      </div>
  
      <div class="col-md-6">
        <a href="{% url 'user:complaints' operation='view' %}" class="sidebar-link">
          <div class="box" id="employee-box2">
            <i class="fa-regular fa-eye"></i>
            <h2>View Complaint </h2>
          </div>
        </a>
      </div>
    </div>
  </div>
  
</div>


<script>
    // Get the box elements
    const employeeBox1 = document.getElementById('employee-box1');
    const employeeBox2 = document.getElementById('employee-box2');
   

    // Add click event listeners to the boxes
    employeeBox1.addEventListener('click', function() {
        // Redirect to the specified URL when the box is clicked
        window.location.href = "{% url 'user:complaints' operation='create' %}";
    });

    employeeBox2.addEventListener('click', function() {
        // Redirect to the specified URL when the box is clicked
        window.location.href = "{% url 'user:complaints' operation='view' %}";
    });

 
</script>

{% endblock %}
