
{% extends 'navigation_user.html' %}
{% block content %}
{% load static %}
   
<div class="container">
    <div class="dashboard-heading">
        <div>
           <h1>Dashboad </h1> 
        </div>
        <div class="right"><h4>Hello: {{ request.session.name }} </div>
        
   </div>
   <hr>
<div class="container-dashboard-admin">
  <div class="row">
    <div class="col-md-4">
    <div class="box" id="employee-box1">
        <i class="fa-regular fa-address-book"></i>
        <h2>Total Complaint</h2>
        <h1>{{ complaints|length }}</h1>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box" id="employee-box2">
        <i class="fa-regular fa-circle-check"></i>
        <h2>Active Complaints </h2>
        <h1>{{ complaints|length }}</h1>
    </div>
  </div>
 

    <div class="col-md-4">
     <div class="box" id="employee-box3">
        <i class="fa-regular fa-circle-xmark"></i>
        <h2>Closed Complatint</h2>
        <h1>{{ complaints|length }}</h1>
     </div>
    </div>

</div>
</div>
</div>
</div>

<script>
    // Get the box elements
    const employeeBox1 = document.getElementById('employee-box1');
    const employeeBox2 = document.getElementById('employee-box2');
    const employeeBox3 = document.getElementById('employee-box3');

    // Add click event listeners to the boxes
    employeeBox1.addEventListener('click', function() {
        // Redirect to the specified URL when the box is clicked
        window.location.href = "{% url 'user:complaints' operation='list' %}";
    });

    employeeBox2.addEventListener('click', function() {
        // Redirect to the specified URL when the box is clicked
        window.location.href = "{% url 'backoffice:complaints' operation='profile' %}";
    });

    employeeBox3.addEventListener('click', function() {
        // Redirect to the specified URL when the box is clicked
        window.location.href = "{% url 'backoffice:complaints' operation='navigation' %}";
    });
</script>

{% endblock %}
