
{% extends 'navigation_user.html' %}
{% block content %}
{% load static %}
   
<h1>Dashboad{{ request.session.name }} </h1>
<hr>
<h4>Hello: <span class="username">
    {% for user in complaints %}
    {% if request.session.email_id == user.email %}
    {{ user.name }}
    {% endif %}
    {% endfor %}
</span></h4>

<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'user:navigation' %}">
    <div class="sidebar-brand-icon rotate-n-15"></div>
</a>

<div class="container-dashboard-admin">
  <div class="row">
    <div class="col-md-4">
    <div class="box" id="employee-box1">
        <h2>Total
        Complaint&nbsp;</h2>
        <h1>{{ complaints|length }}</h1>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box" id="employee-box2">
        <h2>Active &nbsp; Complaints &nbsp;</h2>
        <h1>{{ complaints|length }}</h1>
    </div>
  </div>

    <div class="col-md-4">
     <div class="box" id="employee-box3">
        <h2>Closed Complatints &nbsp;</h2>
        <h1>{{ complaints|length }}</h1>
     </div>
    </div>

</div>
</div>
</div>

<script>
    // Get the box elements
    const employeeBox1 = document.getElementById('employee-box1');
    const employeeBox2 = document.getElementById('employee-box2');
    const employeeBox3 = document.getElementById('employee-box3');

    // Add click event listeners to the boxes
    employeeBox1.addEventListener('click', function() {
        // Redirect to the specified URL when the box is clicked
        window.location.href = "{% url 'user:complaints' operation='list' %}";
    });

    employeeBox2.addEventListener('click', function() {
        // Redirect to the specified URL when the box is clicked
        window.location.href = "{% url 'backoffice:complaints' operation='profile' %}";
    });

    employeeBox3.addEventListener('click', function() {
        // Redirect to the specified URL when the box is clicked
        window.location.href = "{% url 'backoffice:complaints' operation='navigation' %}";
    });
</script>

{% endblock %}
