{% extends 'backoffice/navigation_admin.html' %}
   {% block content %}
    {% load static %}
    {% for chat in chats %}
    
    {%if chat.profile.profile_type_id == 1 %}
            <div class="card bg-info">

    {% else %}
        <div class="card bg-warning">
        {% endif %}


        <div class="card-body">
          <h5><b>{{chat.profile.name}}</b></h5>
          <p>{{chat.message}}</p>
          <p class="msg-time">{{chat.created_at}}</p>
        </div>
      </div>

      {% endfor %}
    

    {% endblock %} 