{% extends 'backoffice/navigation_admin.html' %}
   {% block content %}
    {% load static %}
                  
<div class="container">
  <div class="row my-4">
    <div class="col-md-6 shadow p-3 mb-5 bg-body-tertiary rounded">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'Ayyub_dp_admin.png'%}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Md Ayyub</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              <a href="{% url 'view_emp_profile_admin' %}" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 shadow p-3 mb-5 bg-body-tertiary rounded">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'Ayyub_dp_admin.png'%}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Md Ayyub</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              <a href="{% url 'view_emp_profile_admin' %}" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>            
</div>
 </div>
</div>
</div>
   {% endblock %}