{% extends 'backoffice/navigation_admin.html' %}
   {% block content %}
    {% load static %}
   
<div class="container mt-5" >
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">Employee Registration</h2><br>
          
          <form id="registration_form_id" action="{% url 'backoffice:employee_add' %}" method="post" >
          {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ data.name }}" required />
          </div>
          <div class="mb-3">
              <input type="tel" class="form-control" id="phone_no" name="mobile" placeholder = "Mobile No" value="{{ data.mobile }}" required/>
          </div>
          <div class="mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ data.email }}" required>
          </div>
          <div class="mb-3 ">
            <input type="password" class="form-control" id="password"  name="password" placeholder="Password" data-toggle="tooltip" data-placement="top" title="At least a  lowercase, uppercase, number, minimum 8 character" value="{{ data.password }}" required>

          </div>
          <div class="mb-3">
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" value="{{ data.confirm_password }}">
          </div>
          <div class="mb-3">
            <select class="form-select " id="employee_type" name="employee_type" required>
                <option value="" selected disabled>Select Employee Type</option>
                <option value="Admin">Admin</option>
                <option value="Complaint handler">Complaint Handler(Staff)</option>
            </select>
        </div>
            <button type="submit" id ="registration_button_id" class="btn btn-primary w-100">Submit</button>
            {% if request.method == 'POST'  %}
            <ul class="messages">
              {% for info in message%}
              {%if "Employee Registered Successfully." in info%}
              <li class="text-success">{{ info }}</li>
              {% else %}
              <li class="text-danger">{{ info }}</li>
              {% endif %}
              {% endfor %}
              
              {% comment %} {% if "User Registered Successfully." in error_message%}
              <li class="text-success">{{ error_message }}</li>
              {% else %}
              <li class="text-danger">{{ error_message }}</li>
              {% endif %} {% endcomment %}

            </ul>
            {% endif %}
            <hr>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

                </div>
            </div>
        </div>
    </div>
  {% endblock %}