{% extends 'backoffice/navigation_admin.html' %}
{% block content %}
    {% load static %}

    <div class="container">
        <div class="table-wrapper">
            <div class="chat-heading text-center mt-10">
                <h1>Chat Section</h1>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="chat-container" class="message-box" style="overflow-y: auto;">
                        {% for chat in chats %}
                        {% if chat.profile.profile_type == "Admin" or chat.profile.profile_type == "Complaint handler(staff)" %}

                                <div class="card chat-message user1" id="user-bg-1">
                            {% else %}
                                <div class="card chat-message user2" id="user-bg-2">
                            {% endif %}
                                <div class="card-body card-body-very-small">
                                    <h6><b>{{ chat.profile.name }}</b></h6>
                                    <p class="msg-text">{{ chat.message }}</p>
                                    <p class="msg-time">{{ chat.created_at|date:"d/m/Y H:i" }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <form id="registration_form_id" action="{% url 'backoffice:complaints' operation='message' %}?id={{my_complaint_id}}" method="post">
                    {% csrf_token %}
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <input id="message-input" type="text" class="form-control message" placeholder="Message" name="message">
                        <input type="hidden" class="form-control message" name="complaint_id" value="{{ my_complaint_id }}">
                        <button id="send-btn" type="submit" class="btn send-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

    <script>
        window.onload = function() {
            var chatContainer = document.getElementById('content');
            chatContainer.scrollTop = chatContainer.scrollHeight;
            var chatContainer = document.getElementById('chat-container');
            chatContainer.scrollTop = chatContainer.scrollHeight;
            
        }
        </script>
        
{% endblock %}
