<!<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- update_complaint.html -->
<form method="post" action="{% url 'delete_complaint' complaint_id=request.resolver_match.kwargs.complaint_id %}">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
	      {% for field_name, field in form.fields.items %}

      <div class="form-floating col-md-3">
          <input type="{{ field.widget }}" class="form-control col-md-3" id="{{ field.id_label }}" name="{{ field_name }}" placeholder="{{ field.label }}">
          <label for="{{ field.id_label }}">{{ field.label }}</label>
      </div>
      <br>
  {% endfor %}
    <button type="submit" style="margin-left:8vw;" class="btn btn-success">Delete</button>
  </form>
    </body>
</html>