{% extends 'navigation_user.html' %}
   {% block content %}
    {% load static %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
        <h1 class="display-6 text-center">Complaint Form</h1>
        <form action="{% url 'user:complaints' operation='complaint_user' %}" method="post" >
            {% csrf_token %}

            <div class="mb-3">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
            </div>

            <div class="mb-3">
                <textarea class="form-control" id="message" name="message" rows="3" placeholder="Enter your message here..." required></textarea>
            </div>
            <div class="btn-color">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
             </div>
             {% if request.method == 'POST'  %}
            <ul class="messages">
              {% for info in message%}
              {%if "Complaint Registered Successfully." in info%}
              <li class="text-success">{{ info }}</li>
              {% else %}
              <li class="text-danger">{{ info }}</li>
              {% endif %}
              {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}