
{% extends 'index.html' %}
   {% block content %}
    {% load static %}
    {{ request.user }}
    
<h1>Dashboard : Hi {{request.session.email_id}} <h1>
    {{request.session.data}} 

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <table style="font-size:22px;">
        <tbody style="border:2px solid black;">
            {% for user in users %}
                <tr>
                    <td style="border:2px solid black;">{{ user.name }}</td>
                    <td  style="border:2px solid black;">{{ user.email }}</td>
                    <td  style="border:2px solid black;">{{ user.password}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}